{% extends 'web/_empty.html' %}
{% load static usertags %}

{% block contenido %}

<main class="flex flex-wrap justify-center items-center gap-8 min-h-screen">

    {% get_users_list as users %}
    {% for user in users %}
    <a href="{% url 'users:login_user' user.id %}">
        <div class="flex flex-col gap-3 items-center justify-center max-w-48 hover:scale-105 transition-all cursor-pointer">
            <img class="rounded-full w-32 aspect-1 object-cover shadow-md" src="{{ user.profile_picture_url }}" alt="">
            <p class="text-2xl">{{ user.username }}</p>
        </div>
    </a>
    {% endfor %}

</main>
    
{% endblock %}